@media only screen and (min-width: 600px) {


   
    picture :hover {
        box-shadow: 0 0 50px #333;
    }


    



/*classes and id's*/
    

.nav-list {
    display: block;
    overflow: hidden;
    margin: auto;
    font-size: 24px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 15px;
}

.nav-list a:hover {
    background-color: #dfebed;
    border-radius: 5px;
    padding: 10px;
}

.nav-links {
    padding: 15px;
}

.nav-button {
    display: none   ;
}





.intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#banner {
    height: 300px;
    width: 100%;
}

.intro {
    margin-bottom: 125px;
    border-top: solid;
}

.intro-p {
    font-size: 30px;
    width: 100%;
}

.adverts {
    text-align: center;
    margin-bottom: 125px;
}

.advert-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
}

#local-biz {
    height: 310px;
    width: 400px;
    border-radius: 10px;
}




#new-family {
    border: 1px solid #000080;
    width: 600px;
    height: 400px;
}




.contact-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin-bottom: 0px;
    color: #dfebed;
}


.weather {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px;
    margin: 10px;
}


.event-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-left: 10%;
}   

}