@media only screen and (min-width: 250px) {

    body {
        font-family: 'Fjalla One', sans-serif;
        background-color: #dfebed;
        color: #2b4450;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    
    h1 {
        text-align: center;
        margin: 0%;
        padding: 15px;
    }
    
    h2, h3 {
        text-align: center;
        color: #2b4450;
    }
    
    header {
        background-color: #2b4450;
        color: #dfebed;
    }
    
    nav {
        background-color: #f78536;
    }
    
    a {
        color: #2b4450;
        font-size: 15pt;
    }
    
    
    footer {
        background-color: #2b4450;
        color: #dfebed;
        padding: 10px;
        margin: auto;
    }


    article {
        border-style: solid;
        border-radius: 10px;
        width: 300px;
        margin-left: 10%;
        margin-right: 10%;
    }

    img {
        width: 100%;
        border-radius: 10px;
    }

    
    /*classes and id's*/
    
    .nav-list {
        display: none;
    }
    
    .nav-button {
        display: block;
            width: 100%;
            height: 50px;
            margin-left: auto;
            margin-right: auto;
            background-color: #f78536;
            color: #dfebed;
            border-radius: 5px;
    }
    
    
    .responsive {
        display: grid;
        background-color: #f78536;
        color: #dfebed;
        overflow: hidden;
        grid-template-columns: 1fr;
        justify-content: center;
        list-style-type: none;
        margin: auto;
        padding: 10px;
      }
    
      .nav-links {
          padding: 8px;
      }
    
    
    
    
    
    .active {
        background-color: #dfebed;
        border-radius: 10px;
        padding: 5px;
    }
    
    .intro {
        text-align: center;
        width: 100%;
    }
    
    #banner {
        height: 200px;
        width: 350px;
    }
    
    
    
    .local-biz {
        height: 175px;
        width: 300px;
    }
    
    

    
    
    .action {
        background-color: #f78536;
        color: #2b4450;
    }
    
    .start {
        margin-bottom: 2px;
        color: #2b4450;
        padding-top: 5px;
        margin-top: auto;
    }
    
    .join {
        margin-top: 0px;
        color: #2b4450;
    }
    
    .why-join {
        margin-top: 2px;
        font-size: 19px;
    }
    
    .social {
        background-color: #497285;
    }
    
    .contact-list {
        display: grid;
        grid-template-columns: 1fr;
        list-style-type: none;
        margin-bottom: 0px;
        color: #dfebed;
    }
    
    .social-logo {
        height: 45px;
        width: 45px;
    }
    
    
    .weather-container {
        border-style: solid;
        
    }

    .weather {
        background-color: #dfebed;
        width: 100%;
    }
    
    

    .event-container {
        margin-bottom: 60px;
        
    }
    
    
    }
    