@media only screen and (min-width: 250px) {

    body {
        font-family: 'Fjalla One', sans-serif;
        background-color: #dfebed;
        color: #2b4450;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    
    h1 {
        text-align: center;
        margin: 0%;
        padding: 15px;
    }
    
    h2 {
        text-align: center;
        color: #2b4450;
    }

    h3 {
        text-align: left;
        color: #2b4450;
        margin-left: 7px;
    }

   
    
    header {
        background-color: #2b4450;
        color: #dfebed;
    }

    
    
    nav {
        background-color: #f78536;
    }
    
    a {
        color: #2b4450;
        font-size: 15pt;
    }


    section {
        max-width: 600px;
        margin: .5rem auto;
        border:1px solid black;
        background-color: #dfebed;
        width: 75%;
      }
      
      img {
        width: 198px; 
        height: 150px;
      }
    
    
    footer {
        background-color: #2b4450;
        color: #dfebed;
        padding: 10px;
        margin: auto;
    }



    ul {
        list-style-type: none;
        
    }


    li {
        font-size: 14pt;
        text-align: left;
    }


    form {
        background-color: #2b4450;
        padding: 10px;
        color: #dfebed;
        width: 75%;
        text-align: center;
        font-size: 15pt;
         border-radius: 10px;
         margin-left: 13%;
         margin-right: 15%;
         margin-bottom: 70px;
    }

    

    legend {
        padding: 15px;
    }

    fieldset {
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr;
    }

    input {
        padding: 5.5px;
    }


    

    img {
        width: 100%;
        height: 275px;
      }


      iframe {
          border-radius: 10px;
          width: 300px;
      }
    



    /*classes and id's*/

.nav-list {
    display: none;
}

.nav-button {
    display: block;
        width: 100%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        background-color: #f78536;
        color: #dfebed;
        border-radius: 5px;
}


.responsive {
    display: grid;
    background-color: #f78536;
    color: #dfebed;
    overflow: hidden;
    grid-template-columns: 1fr;
    justify-content: center;
    list-style-type: none;
    margin: auto;
    padding: 10px;
  }

  .nav-links {
      padding: 8px;
      text-align: center;
  }





.active {
    background-color: #dfebed;
    border-radius: 10px;
    padding: 5px;
}


.info {
    padding: 5px;
    text-align: center;
}


.comments {
    padding: 5px;
    text-align: center;
    margin-top: 45px;
}


#comments {
    height: 300px;
    width: 100%;
}


.about-container {
    margin-left: 13%;
    margin-right: 15%;
    margin-bottom: 60px;
}



.about-list {
    margin-top: 60px;
}


.board {
    display: grid;
    grid-template-columns: 1fr;
}


  
.board-list {
    text-align: left;
}


}