@media only screen and (min-width: 600px) {


    picture {
        border-style: solid;
        border-radius: 10px;
    } 

    picture :hover {
        box-shadow: 0 0 50px #333;
    }




  

    picture {
        border: #2b4450;
        border-style: solid;
    }

   

    

    figcaption {
        color: #2b4450;
        width: 350px;
        height: 30px;
    }


 

    /*classes and id's*/
    

.nav-list {
    display: block;
    overflow: hidden;
    margin: auto;
    font-size: 24px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 15px;
}

.nav-list a:hover {
    background-color: #dfebed;
    border-radius: 5px;
    padding: 10px;
}

.nav-links {
    padding: 15px;
}

.nav-button {
    display: none   ;
}


#img-content {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-left: 17.5%;
    margin-right: 12.5%;
  }

}