@media only screen and (min-width: 250px) {

    body {
        font-family: 'Fjalla One', sans-serif;
        background-color: #dfebed;
        color: #2b4450;
        margin: auto;
        width: 100%;
        text-align: center;
    }
    
    h1 {
        text-align: center;
        margin: 0%;
        padding: 15px;
    }
    
    h2, h3 {
        text-align: center;
        color: #2b4450;
    }
    
    header {
        background-color: #2b4450;
        color: #dfebed;
        width: 100%;
    }
    
    nav {
        background-color: #f78536;
    }
    
    a {
        color: #2b4450;
    }
    
    
    footer {
        background-color: #2b4450;
        color: #dfebed;
        padding: 10px;
        margin: auto;
        width: 100%;
    }



    main {
        text-align: center;
        margin: auto;
    }


    picture {
        border: #2b4450;
        border-style: solid;
        position: relative;
        right: 90px;
        width: 100%;
    }

   

    

    figcaption {
        color: #2b4450;
        width: 375px;
        height: 25px;
        text-align: center;
    }

    img {
        width: 100%;
        height: 320px;
      }




/*classes and id's*/

.nav-list {
    display: none;
}

.nav-button {
    display: block;
        width: 100%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        background-color: #f78536;
        color: #dfebed;
        border-radius: 5px;
}


.responsive {
    display: grid;
    background-color: #f78536;
    color: #dfebed;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    list-style-type: none;
    margin: auto;
    padding: 10px;
  }


  .active {
    background-color: #dfebed;
    border-radius: 10px;
    padding: 5px;
}



#img-content {
    text-align: left;
    justify-content: left;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-left: 17.5%;
    margin-right: 12.5%;
    margin-bottom: 60px;
  }



}    